## IPP Assignment 1

### GRADE (Meghana)

**Problem** | *Correctness (5)* | *Clarity (2.5)* | *Efficiency (2.5)*| COMMENT
---|---|---|---|---
**1** | 5 | 2.5 | 2.5|You could've used other basic markdown
**2.1** | 5 | 2.5 | 2.5|
**2.2** | 5 | 2.5 | 2.5|
**2.3** | 5 | 2.5 | 2.5|
**3** | 5 | 2.5 | 2.5|Great. 
**TOTAL SCORE** | **50/50**

A Jupyter notebook, a Python interface, mainly consists of two types of cells: Markdown and Code cells. A Code cell is a block of contents that contain snippets of code written in Python Programming Language. A markdown cell is a block of contents that contain text and sometimes image.

As you progress, you may realize the importance of markdown cells while programming with python language. Markdown cells allow you to keep track of what you've done in the Code cells by displaying titles or a brief summary of tasks in a text format (You can add headings, emphasis (bold or italic text), mathematical symbols, bullets and horizontal lines etc). This assignment is meant to guide you to become familiar with markdown language.

### Problem 1. Using markdown language, write an introduction of yourself. You can use multiple markdown cells to create a neat introduction of yourself.

Hi, my name is Meghana. I would be joining the Finance Department at INSEAD, Fontainebleau campus.

Prior to INSEAD, I worked as a pre-doctoral researcher at Indian School of Business. I have also worked in the financial industry briefly. I am excited to move to a different country for the first time, and continue my research journey with some very capable folk at INSEAD business school. Pleased to meet you all!

A little more about me: In my free time, I indulge in some reading, writing, painting and photography. ('Midnight in Paris', anybody?) I'm happy to know more about the INSEAD community as well :)

### Problem 2

For problem 2, use the following list (called i) & dictionary (called d)
* Note that i is a list which contains 9 elements.
* Note that d is a dictionary which has 9 keys and values.

In [1]:
i=['I','N','S','E','A','D','P','H','D']
d={}
for count, value in enumerate(i):
    d[count]=value
    
print(i)
print(d)

['I', 'N', 'S', 'E', 'A', 'D', 'P', 'H', 'D']
{0: 'I', 1: 'N', 2: 'S', 3: 'E', 4: 'A', 5: 'D', 6: 'P', 7: 'H', 8: 'D'}

#### Problem 2.1 Write a for loop that prints the first six elements of the list (i), using both 'IF' and 'BREAK' statments within the loop.

In [2]:
# Write a for loop that produces the following output in this cell.

##############################################################################################
for k,v in d.items():
    #print(k)
    if k<6:
        print(v)
    else:
        break
##############################################################################################

I
N
S
E
A
D

In [3]:
#Expected output

#### Problem 2.2 Write a for loop that prints all the elements except 'D' in the list (i) using if and continue statement within the loop.

In [4]:
# Write a for loop that produces the following output in this cell.
##############################################################################################
for k,v in d.items():
    #print(k)
    if v!="D":
        print(v)
    else:
        continue
##############################################################################################

I
N
S
E
A
P
H

In [12]:
#Expected output

I
N
S
E
A
P
H

#### Problem 2.3 Create an empty list called l. Write a for loop that adds only odd dictionary keys of d in l (l is the emply list that you've created). Then prints l.

In [5]:
# Write a for loop that produces the following output in this cell.
# Start with creating a list called l
l=[]
##############################################################################################
for k,v in d.items():
    if k%2==1:
        l.append(k)
##############################################################################################
print(l)

[1, 3, 5, 7]

In [6]:
#Expected output

### Problem 3

For problem 3, use the following two lists, students and departments respectively

In [8]:
students=["MKT:Sherrie",
          "OB:Jennifer",
          "TOM:Priscilla",
          "STR:Nety",
          "STR:Tienchang",
          "ENT:Pulkit",
          "FIN:Meghana",
          "STR:Constantin",
          "ENT:Junghyo"]

departments=["MKT","OB","TOM","STR","ENT","FIN"]

In [9]:
students

['MKT:Sherrie',
 'OB:Jennifer',
 'TOM:Priscilla',
 'STR:Nety',
 'STR:Tienchang',
 'ENT:Pulkit',
 'FIN:Meghana',
 'STR:Constantin',
 'ENT:Junghyo']

#### Problem 3. Create an empty dictionary called d. Write a for loop that adds each department in departments (given list) as keys and the list of students in that department as values.

In [11]:
d = {department:[] for department in departments}

In [12]:
d

{'MKT': [], 'OB': [], 'TOM': [], 'STR': [], 'ENT': [], 'FIN': []}

In [14]:
# Write a for loop that produces the following output in this cell, using the given lists (students & departments)
# Start with creating a dictonary called d
d = {department:[] for department in departments}
##############################################################################################
for student in students:
    dept = student.split(':')[0]
    d[dept] = d[dept]+[student.split(':')[1]]
##############################################################################################
d

{'MKT': ['Sherrie'],
 'OB': ['Jennifer'],
 'TOM': ['Priscilla'],
 'STR': ['Nety', 'Tienchang', 'Constantin'],
 'ENT': ['Pulkit', 'Junghyo'],
 'FIN': ['Meghana']}

In [42]:
# Write a for loop that produces the following output in this cell, using the given lists (students & departments)
# Start with creating a dictonary called d
d = {department:[] for department in departments}
##############################################################################################
for student in students:
    dept = student.split(':')[0]
    d[dept] = d[dept]+[student.split(':')[1]]
##############################################################################################
d

{'ENT': ['Pulkit', 'Junghyo'],
 'FIN': ['Meghana'],
 'MKT': ['Sherrie'],
 'OB': ['Jennifer'],
 'STR': ['Nety', 'Tienchang', 'Constantin'],
 'TOM': ['Priscilla']}

In [115]:
#Expected Output

{'MKT': ['Sherrie'],
 'OB': ['Jennifer'],
 'TOM': ['Priscilla'],
 'STR': ['Nety', 'Tienchang', 'Constantin'],
 'ENT': ['Pulkit', 'Junghyo'],
 'FIN': ['Meghana']}